$blue: #1a80ff;
$degrad: linear-gradient(
    179.88deg,
    #35eaef 38.32%,
    rgba(255, 255, 255, 0) 99.9%
  ),
  #1a80ff;
$skyblue: #35eaef;
$gray: #dfdfdf;

$dark-bg: #0E0F23;

$white: #fff;
$black: #000;
$dark: #0a0c1d;

$newdark: #1e2833;

.white-text {
  color: #fff;
}
